# EditorConfig is awesome: http://EditorConfig.org

# top-most EditorConfig file
root = true

# Defaults
[*]
end_of_line = lf
insert_final_newline = false
charset = utf-8
trim_trailing_whitespace = true
indent_style = space
indent_size = 4

# HTML types get 2 space indentation
[{*.hbs,*.html,*.jsp}]
indent_size = 2
