body {
	font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
	line-height: 1.2rem;
	background: #f5f5f5;
	color: #4d4d4d;
	margin: 0 auto;
	min-width: 230px;
	max-width: 600px;
}

.hidden {
	display: none;
}

.todo-container {
	position: relative;
	margin: 1rem 0 0 0;
	box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 
				0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.header {
	text-align: center;
	padding: 2rem 1rem;
}
.header h1 {
	font-size: 4rem;
}
.main {
	position: relative;
	background: #fff;
}

.new-todo,
.edit {
	position: relative;
	width: 100%;
	box-sizing: border-box;
	margin: 0;
	padding: .5rem;

	font-size: 1.2rem;
	color: inherit;

	border: 0;
	outline: none;
	border: 1px solid #999;
	box-shadow: inset 0 -1px 5px 0 rgba(0, 0, 0, 0.2);
}
.new-todo {
	padding: 1rem;
	border: none;
	background: rgba(0, 0, 0, 0.003);
	box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.edit {
	position: relative;
}
.footer {
	position: relative;
}
.todo-list {
    list-style: none;
}
.todo-list li {
	position: relative;
	font-size: 1.2rem;
	border-bottom: 1px solid #ededed;
}

.todo-list li:last-child {
	border-bottom: none;
}
.todo-list li:only-child {
	border-bottom: none;
}

.todo-list li.editing {
	border-bottom: none;
	padding: 0;
}
.todo-list li.editing .edit {
	display: block;
	/*width:*/
	padding: 1rem;
	margin: 0;
}
.todo-list li.editing .view {
	display: none;
}

.todo-list li label {
    padding: 1rem;
    /*margin-left: 2rem;  1rem*/
    display: inline-block; /*block*/
    word-break: break-all;
}

.todo-list li .toggle {
    position: absolute;
    bottom: 0;
    top: 0;
    margin: auto 1rem; /*auto 0*/
    border: none;
    text-align: center;
    width: 1.5rem;
    height: 1.5rem;
}
/*.todo-list li .toggle::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#ededed" stroke-width="3"/></svg>');
}

.todo-list li .toggle:checked::after {
	content: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" viewBox="-10 -18 100 135"><circle cx="50" cy="50" r="50" fill="none" stroke="#bddad5" stroke-width="3"/><path fill="#5dc2af" d="M72 25L42 71 27 56l-4 4 20 20 34-52z"/></svg>');
}*/

.todo-list li .edit {
	display: none;
}

.todo-list li .destroy {
    position: absolute;
    bottom: 0;
    top: 0;
	right: 0;
    margin: auto 1rem; /*auto 0*/
    border: none;
    text-align: center;
	font-size: 1.5rem;
    width: 1.5rem;
    height: 1.5rem;
	color: rgba(175, 50, 50, 0.3);
	transition: color 0.4s ease;
}

.todo-list li .destroy::after {
	content: 'x';
}

.todo-list li .destroy:hover {
	color: rgb(175, 50, 50);
}



button, 
input[type="checkbox"] {
  outline: none;
}

button {
	margin: 0;
	padding: 0;
	border: 0;
	background: none;
	font-size: 100%;
	vertical-align: baseline;
	font-family: inherit;
	font-weight: inherit;
	color: inherit;
}

/* render input placholder in italics with a lighter color */
.todo-container input::-webkit-input-placeholder {
	font-style: italic;
	color: #e6e6e6;
}
.todo-container input::-moz-placeholder {
	font-style: italic;
	color: #e6e6e6;
}
.todo-container input::input-placeholder {
	font-style: italic;
	color: #e6e6e6;
}

.todo-count {
	position: absolute;
    left: 0;
    margin-left: 1rem;
}

/*
footer
*/

.todo-container footer {
	padding: 10px 15px;
	height: 20px;
	background: #fff;
	color: #777;
	text-align: center;
	border-top: 1px solid #e6e6e6;
}
.todo-container .footer:before {
	content: '';
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	height: 50px;
	overflow: hidden;
	/* Taken directly from todoMVC - I didn't want to have to recreate that! */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
	            0 8px 0 -3px #f6f6f6,
	            0 9px 1px -3px rgba(0, 0, 0, 0.2),
	            0 16px 0 -6px #f6f6f6,
	            0 17px 2px -6px rgba(0, 0, 0, 0.2);
}


/*
Filters
*/

.filters {
	list-style: none;
	/* center content */
	position: absolute;
	right: 0;
	left: 0;
}
.filters li {
	display: inline;
}
.filters li a {
	color: inherit;
	margin: .3rem;
	padding: .2rem .4rem;
	text-decoration: none;
	border: 1px solid transparent;
	border-radius: 3px;
}
.filters li a.selected,
.filters li a:hover {
	border-color: rgba(50, 175, 175, 0.2);
	background-color: rgba(50, 175, 175, 0.1);
}
.filters li a.selected {
	border-color: rgba(50, 175, 175, 0.4);
	background-color: rgba(50, 175, 175, 0.2);
}

/*
COLORS

green: rgb(65, 175, 50)
blue:  rgb(50, 175, 175)
red:   rgb(175, 50, 50)
*/





/*
Things I may want to include

-webkit-text-rendering: optimizeLegibility;
	-moz-text-rendering: optimizeLegibility;
	text-rendering: optimizeLegibility;

	-webkit-appearance: none;
	appearance: none;



*/


/* todo svg*/
/* Using Font-Awesome for their SVG images */

.todo {
  cursor: pointer;
  display: block;
}
/*.todo-text {
	-webkit-user-select: none;     
	-moz-user-select: none; 
		-ms-user-select: none; 
		-o-user-select: none;
			user-select: none;
}*/

/* Remove the default checkbox */
/*.todo input[type="checkbox"] {
  display: none;
}

.todo input[type="checkbox"] + .todo-text::before {
  content: "\f096";
  display: inline-block;
  width: 2.5rem;
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
}

.todo input[type="checkbox"] + .todo-text::before,
.todo input[type="checkbox"]:checked + .todo-text::before,
.todo input[type="checkbox"]:disabled + .todo-text:before {
  font-size: 2rem;
  vertical-align: bottom;
}

.todo input[type="checkbox"]:checked + .todo-text::before {
  content: "\f14a";
  color: #06a3e9;
  animation: check 160ms ease-in ;
}

.todo input[type="checkbox"]:disabled + .todo-text {
  color: #ccc;
}

.todo input[type="checkbox"]:disabled + .todo-text::before {
  content: "\f0c8";
}*/




/* Add checkbox from FontAwesome sister*/


.view input[type="checkbox"] {
  /*display: none;*/
  opacity: 0;
}

.view input[type="checkbox"] + label .todo-text::before,
.view input[type="checkbox"]:checked + label .todo-text::before,
.view input[type="checkbox"]:disabled + label .todo-text:before {
  font-size: 2rem;
  vertical-align: bottom;
}

.view input[type="checkbox"] + label .todo-text::before {
  content: "\f096";
  display: inline-block;
  width: 2.5rem;
  font-family: "FontAwesome";
  -webkit-font-smoothing: antialiased;
}

/* Add checkmark checkbox from FontAwesome */
.view input[type="checkbox"]:checked + label .todo-text::before {
  content: "\f14a";
  color: #06a3e9;
  animation: check 160ms ease-in ;
}

/* Colorize when disabled */
.view input[type="checkbox"]:disabled + label .todo-text {
  color: #ccc;
}

.view input[type="checkbox"]:disabled + label .todo-text::before {
  content: "\f0c8";
}





/* Setup animation (experimental tech) */
@-webkit-keyframes check {
  0%   { transform: scale(0); }
  90%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@-moz-keyframes check {
  0%   { transform: scale(0); }
  90%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@-o-keyframes check {
  0%   { transform: scale(0); }
  90%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
@keyframes  check {
  0%   { transform: scale(0); }
  90%  { transform: scale(1.2); }
  100% { transform: scale(1); }
}
